@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=New+Tegomin&family=Noto+Sans+TC:wght@100..900&family=Zen+Kaku+Gothic+Antique&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "IBM Plex Sans", "Zen Kaku Gothic Antique", "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: transparent;
}

li {
  list-style-type: none;
}

/* 手機 */
:root {
  --primary-300: orange;
  --primary-400: orange;
  --primary-700: orange;
  --secondary-300: orange;
  --secondary-400: orange;
  --secondary-700: orange;
  --black-300: whitesmoke;
  --black-400: gray;
  --black-700: black;
  --white-300: white;
  --white-400: rgb(237, 237, 237);
  --white-700: silver;
}
body {
  background-color: var(--white-300);
  margin: 0px;
  padding: 0;
}

section {
  margin: 24px auto;
}

.container {
  padding: 0 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  gap: 0.25rem;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  background: beige;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
}

.logo > a {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 200%;
  font-family: "New Tegomin", serif;
}

.menu-icon {
  display: block;
  height: 2.5rem;
  margin-right: 10px;
}

.menu-icon > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

nav > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav > ul > li {
  width: 100%;
  text-align: center;
}

nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 200%;
}

nav > ol > li > a:hover {
  color: white;
  background: darksalmon;
}
/* End header */
/* Banner */
#Banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#Banner > .container {
  position: relative;
  width: 375px;
  height: 667px;
  justify-content: center;
  align-items: center;
}
.banner-group span {
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
.h,
.o {
  position: absolute;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
.banner-group:first-child > span:first-child {
  margin-right: 50px;
}
.banner-group:nth-child(2) > span:nth-child(2) {
  margin-right: 50px;
}
.h {
  height: 213px;
  top: 40.3%;
  left: 35.6%;
  font-size: 140px;
  transform: rotateZ(110deg);
  animation: wrench 8s;
  animation-fill-mode: forwards;
}
.o {
  height: 65.4px;
  top: 51.6%;
  left: 40.9%;
  font-size: 46.7px;
  transform: rotateZ(210deg);
  animation: screw 8s;
  animation-fill-mode: forwards;
}
.h:hover,
.o:hover,
.banner-group > span:hover {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--primary-400);
  font-style: italic;
}
.circle {
  position: absolute;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
@keyframes wrench {
  0% {
  }
  16% {
    transform: rotateZ(70deg);
  }
  26% {
    transform: rotateZ(100deg);
  }
  43% {
    transform: rotateZ(50deg);
  }
  52% {
    transform: rotateZ(100deg);
  }
  68% {
    transform: rotateZ(40deg);
  }
  78% {
    transform: rotateZ(110deg);
    top: 40.3%;
    left: 35.6%;
    font-size: 140px;
  }
  100% {
    top: 31.7%;
    left: 23.3%;
    transform: rotateZ(360deg);
    font-size: 100px;
  }
}
@keyframes screw {
  0% {
  }
  16% {
    transform: rotateZ(210deg);
  }
  26% {
    transform: rotateZ(240deg);
  }
  43% {
    transform: rotateZ(240deg);
  }
  52% {
    transform: rotateZ(290deg);
  }
  68% {
    transform: rotateZ(290deg);
  }
  78% {
    transform: rotateZ(359deg);
    top: 51.6%;
    left: 40.9%;
    font-size: 46.7px;
  }
  100% {
    font-size: 100px;
    top: 50.3%;
    left: 47.6%;
    transform: rotateZ(720deg);
  }
}
.first-c {
  opacity: 0;
  font-size: 1px;
  background-image: radial-gradient(
    circle,
    #c55300,
    #d4610a,
    #e27015,
    #f17e1f,
    #ff8d28
  );
  background-clip: text;
  color: transparent;
  z-index: -1;
  animation: first-c-appear 0.5s cubic-bezier(0.25, 1, 0.5, 1) 8s;
  animation-fill-mode: forwards;
}
@keyframes first-c-appear {
  0% {
    opacity: 0;
    font-size: 1px;
  }
  100% {
    opacity: 1;
    font-size: max(120vh, 120vw);
    line-height: max(100vh, 100vw);
  }
}
/* .absl {
  position: absolute;
}
.absl:nth-child(1) {
  font-size: 108px;
  transform: rotateZ(43deg);
  top: 32%;
  left: 6%;
}
.absl:nth-child(2) {
  font-size: 108px;
  transform: rotateZ(-46deg);
  top: 26%;
  left: 14%;
}
.absl:nth-child(3) {
  font-size: 108px;
  transform: rotate(71deg);
  top: 23%;
  left: 33%;
}
.absl:nth-child(4) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
}
.absl:nth-child(5) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
}
.absl:nth-child(6) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
}
.absl:nth-child(7) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
}
.absl:nth-child(8) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
}
.absl:nth-child(9) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
}
.absl:nth-child(10) {
  font-size: 408px;
  transform: rotateZ(134deg);
  top: 20%;
  left: 28%;
} */
h1 {
  line-height: 80%;
}
.impress {
  font-size: 3rem;
  font-family: "New Tegomin", serif;
}
#Banner h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
/* End banner */
/* About */
#About {
  width: 100%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo,
.intro {
  width: 100%;
}
.profile-photo > img {
  width: 100%;
}
.skill-list {
  flex-direction: column;
}

.skill-level-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.skill-level-name {
  width: 7.25rem;
}

.skill-level-num {
  width: 3.25rem;
  text-align: right;
}

.level-bar-bg {
  align-items: center;
  background-color: seashell;
  width: 300px;
  height: 8px;
  border-radius: 18px;
  box-shadow: 2px 2px 10px #777 inset;
}

.level-bar-fg {
  height: 100%;
  border-radius: 18px;
  text-align: center;
  /* line-height: calc(2rem-6px); */
  line-height: 2rem;
}

.level-html {
  width: 90%;
  background-color: #dd4b25;
  animation: html-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

.skill-level-item:nth-child(1) .skill-level-num {
  animation: html-bold 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes html-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes html-bold {
  0% {
  }

  100% {
    font-weight: 700;
    color: #dd4b25;
  }
}

.level-css {
  width: 80%;
  background-color: #2862e9;
  animation: css-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes css-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.level-figma {
  width: 80%;
  background-color: #8950ff;
  animation: figma-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes figma-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.level-ai {
  width: 80%;
  background-color: #ff9a00;
  animation: ai-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes ai-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.level-ps {
  width: 60%;
  background-color: #2d9dee;
  animation: ps-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes ps-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

/* End About */
/* Exp */
.exp-item {
  margin-bottom: 3rem;
}
.exp-item > ul > li {
  list-style-type: disc;
  margin-left: 1.25rem;
}
.tag {
  font-weight: 700;
}
/* End exp */
/* Skills */
#Skills {
  background: goldenrod;
}

.skill-list {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 0.25rem;
}

.skill {
  width: 32.8%;
  height: 10rem;
  background-color: whitesmoke;
}

/* End skill */
/* Portfolio */
.work-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 4px;
}

.work-item {
  width: 100%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  position: relative;
  background: silver;
}
.item-container {
  width: 100%;
  height: 100%;
}
.item-container:hover .work-item {
  transform: rotateX(180deg);
}

.work-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.work-item-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-1px) rotateX(180deg);
  background: var(--primary-300);
  padding: 12px;
  backface-visibility: hidden;
}
.divider {
  width: 100%;
  height: 1px;
  background: var(--black-700);
  margin: 12px auto;
}
/* End portfolio */
/* Form */
form {
  background-color: whitesmoke;
  padding: 24px;
  border-radius: 36px;
}

.form-info {
  margin-bottom: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contact-form > div {
  width: 100%;
}

.contact-form label {
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 0.75rem;
}

/* End form */
footer {
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
}

/* 平板 */
@media screen and (min-width: 1025px) {
  .menu-icon {
    display: hidden;
  }

  header {
    flex-wrap: nowrap;
  }

  nav > ul > li {
    width: 6rem;
  }

  .container {
    width: 80%;
    max-width: 1140px;
  }

  .profile-photo,
  .intro {
    width: 45%;
  }

  .skill-list {
    flex-direction: row;
  }
}

/* 電腦 */
@media screen and (min-width: 1140px) {
}
