@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=New+Tegomin&family=Noto+Sans+TC:wght@100..900&family=Zen+Kaku+Gothic+Antique&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "IBM Plex Sans", "Zen Kaku Gothic Antique", "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: transparent;
}

li {
  list-style-type: none;
}

/* 手機 */
:root {
  --primary-300: #ffa056;
  --primary-400: #ff8d28;
  --primary-700: orange;
  --secondary-300: orange;
  --secondary-400: orange;
  --secondary-700: orange;
  --black-300: whitesmoke;
  --black-400: gray;
  --black-700: black;
  --white-300: white;
  --white-400: rgb(237, 237, 237);
  --white-700: silver;
  --red: #ff383c;
  --yellow: #ffcc00;
  --green: #34c759;
  --blue: #0088ff;
  --purple: #cb30e0;
  --pink: #ff2d55;
  --section-margin: 48px;
}
body {
  background-color: var(--white-300);
  margin: 0px;
  padding: 0;
  position: relative;
}

.container {
  padding: var(--section-margin) 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  gap: 0.25rem;
}

a {
  text-decoration: none;
}

/* Bg elements */
.rec,
.circle {
  position: fixed;
  z-index: -1;
  width: 100%;
}

.rec {
  bottom: -23%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.r1,
.r2,
.r3 {
  position: absolute;
  background: #ac7f5e;
}

.r1 {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 30vh;
  opacity: 0;
  animation: resonate 1.5s ease-in-out 9.4s;
  animation-fill-mode: forwards;
}

.r2 {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  height: 35vh;
  filter: blur(4px);
  opacity: 0;
  animation: resonate 1.5s ease-in-out 10.4s;
  animation-fill-mode: forwards;
}

.r3 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 95%;
  height: 40vh;
  filter: blur(8px);
  opacity: 0;
  animation: resonate 1.5s ease-in-out 11.4s;
  animation-fill-mode: forwards;
}

.circle {
  top: -25%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.c1,
.c2,
.c3 {
  position: absolute;
  background: var(--pink);
  border-radius: 1000px;
  scale: 1 80%;
}

.c1 {
  left: 50%;
  top: -20%;
  width: 70%;
  height: 40vh;
  opacity: 0;
  transform: translate(-50%, 0%);

  animation: resonate 1.5s ease-in-out 14.5s;
  animation-fill-mode: forwards;
}

.c2 {
  left: 50%;
  top: 0;
  width: 80%;
  height: 45vh;
  filter: blur(4px);
  opacity: 0;
  transform: translate(-50%, 0%);

  animation: resonate 1.5s ease-in-out 13.5s;
  animation-fill-mode: forwards;
}

.c3 {
  left: 50%;
  top: 0;
  width: 90%;
  height: 50vh;
  filter: blur(8px);
  opacity: 0;
  transform: translate(-50%, 0%);
  animation: resonate 1.5s ease-in-out 12.5s;
  animation-fill-mode: forwards;
}

@keyframes resonate {
  0% {
  }
  100% {
    opacity: 0.2;
  }
}

/* End bg elements */

/* Header */
header {
  background: var(--black-700);
  animation: 0.5ms light-on 6.4s 1 normal forwards;
}

header .container {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0;
}

@keyframes light-on {
  0% {
  }
  100% {
    background: var(--white-300);
  }
}

.logo {
  display: flex;
}

.logo > a {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 200%;
  font-family: "New Tegomin", serif;
}

.menu-icon {
  display: block;
  height: 2.5rem;
  margin-right: 10px;
}

.menu-icon > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

nav > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav > ul > li {
  width: 100%;
  text-align: center;
}

nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 200%;
}

nav > ul > li > a:hover {
  color: white;
  background: var(--primary-400);
  font-weight: 700;
}
/* End header */
/* Banner */
#Banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: var(--black-700);
  animation: 0.5ms light-on 6.4s 1 normal forwards;
  margin-top: 0;
}

@keyframes light-on {
  0% {
    background: var(--black-700);
  }
  100% {
    background: none;
  }
}
#Banner > .container {
  position: relative;
  width: 375px;
  height: 667px;
  justify-content: center;
  align-items: center;
}
.banner-group span {
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
.banner-group,
.h,
.o {
  z-index: 2;
}
.h,
.o {
  position: absolute;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
.banner-group:first-child > span:first-child,
.banner-group:nth-child(2) > span:nth-child(2) {
  margin-right: 50px;
}

.h {
  height: 213px;
  top: 40.3%;
  left: 35.6%;
  font-size: 140px;
  transform: rotateZ(110deg);
  animation:
    8s wrench 0s 1 normal forwards,
    bolden-orange 0.5s cubic-bezier(0.17, 0.1, 0.32, 1) 8.8s 1;
  color: var(--white-300);
}

@keyframes wrench {
  0% {
  }
  16% {
    transform: rotateZ(70deg);
  }
  26% {
    transform: rotateZ(100deg);
  }
  43% {
    transform: rotateZ(50deg);
  }
  52% {
    transform: rotateZ(100deg);
  }
  68% {
    transform: rotateZ(40deg);
  }
  78% {
    transform: rotateZ(110deg);
    top: 40.3%;
    left: 35.6%;
    font-size: 140px;
    color: var(--white-300);
  }
  80% {
    transform: rotateZ(110deg);
    top: 40.3%;
    left: 35.6%;
    font-size: 140px;
    color: var(--black-700);
  }
  86% {
    transform: rotateZ(110deg);
    top: 40.3%;
    left: 35.6%;
    font-size: 140px;
    color: var(--black-700);
  }
  100% {
    top: 31.7%;
    left: 23.3%;
    transform: rotateZ(360deg);
    font-size: 100px;
    color: var(--black-700);
  }
}

.o {
  height: 65.4px;
  top: 51.6%;
  left: 40.9%;
  font-size: 44px;
  transform: rotateZ(210deg);
  animation:
    8s screw 0s 1 normal forwards,
    bolden-yellow 0.4s cubic-bezier(0.17, 0.1, 0.32, 1) 8.7s 1;
  color: var(--red);
  opacity: 0.7;
}

@keyframes screw {
  0% {
  }
  16% {
    transform: rotateZ(210deg);
    opacity: 0.7;
  }
  26% {
    transform: rotateZ(240deg);
    opacity: 0.8;
  }
  43% {
    transform: rotateZ(240deg);
    opacity: 0.8;
  }
  52% {
    transform: rotateZ(290deg);
    opacity: 0.9;
  }
  68% {
    transform: rotateZ(290deg);
    opacity: 0.9;
  }
  78% {
    transform: rotateZ(360deg);
    opacity: 1;
  }
  86% {
    top: 51.6%;
    left: 40.9%;
    font-size: 44px;
    transform: rotateZ(360deg);
    color: var(--red);
    opacity: 1;
  }
  100% {
    font-size: 100px;
    top: 50.3%;
    left: 47.6%;
    transform: rotateZ(720deg);
    color: var(--black-700);
    opacity: 1;
  }
}

.banner-group:nth-child(1) span:nth-child(2),
.banner-group:nth-child(1) span:nth-child(3),
.banner-group:nth-child(2) span:nth-child(2) {
  animation: bolden-yellow 0.3s cubic-bezier(0.17, 0.1, 0.32, 1) 8.7s 1;
}

@keyframes bolden-yellow {
  0% {
  }
  100% {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--green);
    font-style: italic;
  }
}

.banner-group:nth-child(1) span:nth-child(2):hover,
.banner-group:nth-child(1) span:nth-child(3):hover,
.banner-group:nth-child(2) span:nth-child(2):hover,
.o:hover {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--yellow) !important;
  font-style: italic;
}

.banner-group:nth-child(1) span:nth-child(4) {
  animation: bolden-orange 0.5s cubic-bezier(0.17, 0.1, 0.32, 1) 8.8s 1;
}

.banner-group:nth-child(1) span:nth-child(4):hover,
.h:hover {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--primary-400) !important;
  font-style: italic;
}

@keyframes bolden-orange {
  0% {
  }
  100% {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--primary-400);
    font-style: italic;
  }
}
.banner-group:nth-child(1) span:nth-child(1),
.banner-group:nth-child(1) span:nth-child(5),
.banner-group:nth-child(2) span:nth-child(1),
.banner-group:nth-child(2) span:nth-child(3) {
  animation: bolden-green 0.5s cubic-bezier(0.17, 0.1, 0.32, 1) 8.9s 1;
}

.banner-group:nth-child(1) span:nth-child(1):hover,
.banner-group:nth-child(1) span:nth-child(5):hover,
.banner-group:nth-child(2) span:nth-child(1):hover,
.banner-group:nth-child(2) span:nth-child(3):hover {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--green) !important;
  font-style: italic;
}

@keyframes bolden-green {
  0% {
  }
  100% {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--yellow);
    font-style: italic;
  }
}

#Banner > svg {
  position: absolute;
}
.windmill {
  transform: scale(0.5);
  top: -40px;
  left: -18px;
  animation: windmill-rotate 1.25s cubic-bezier(0.17, 0.1, 0.32, 1) 9.4s
    infinite;
  opacity: 0;
  fill: var(--blue);
}

@keyframes windmill-rotate {
  0% {
    opacity: 1;
    transform: scale(0.5) rotateZ(0deg);
  }
  80% {
    transform: scale(0.5) rotateZ(-180deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.5) rotateZ(-180deg);
  }
}

.flower {
  transform: scale(0.9);
  top: 208px;
  right: -64px;
  animation: flower-rounded 3s cubic-bezier(0.17, 0.1, 0.32, 1) 9.4s alternate
    infinite;
  opacity: 0;
  fill: var(--red);
}

@keyframes flower-rounded {
  0% {
    opacity: 0.2;
  }
  100% {
    border-radius: 300px;
    transform: rotateZ(90deg);
    opacity: 0.4;
  }
}

.arrow {
  transform: scale(0.3) rotateZ(-180deg);
  bottom: -60px;
  right: 44px;
  animation: arrow-forward 1.75s cubic-bezier(0.17, 0.1, 0.32, 1) 9.4s alternate
    infinite;
  opacity: 0;
  z-index: 1;
  fill: var(--primary-400);
}

@keyframes arrow-forward {
  0% {
    opacity: 1;
    transform: scale(0.3) rotateZ(-180deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.3) translateX(40%) translateY(-40%) rotateZ(-180deg);
  }
}

/* End banner */
/* About */
#About {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo,
.intro {
  width: 100%;
}

.profile-photo {
  padding-top: 240px;
  position: relative;
}

.profile-photo > img {
  width: 100%;
  max-width: 360px;
  clip-path: path(
    "M154.44,439.33c-20.95,0-40.34-4.62-58.16-13.84-17.82-9.22-32.21-23.61-43.15-43.15-10.95-19.54-16.42-44.8-16.42-75.75,0-9.07.47-17.9,1.41-26.5.94-8.6,2.18-17.12,3.75-25.56,4.38-22.2,11.49-42.6,21.34-61.21,9.85-18.6,21.88-34.86,36.12-48.78,14.23-13.91,30.33-24.7,48.31-32.37,17.98-7.66,37.29-11.49,57.93-11.49s40.34,4.62,58.16,13.84c17.82,9.23,32.2,23.61,43.15,43.15,10.94,19.55,16.42,44.8,16.42,75.75,0,8.76-.47,17.52-1.41,26.27-.94,8.76-2.19,17.36-3.75,25.8-4.38,21.89-11.49,42.22-21.34,60.98-9.85,18.76-21.89,35.11-36.12,49.02-14.23,13.92-30.34,24.71-48.31,32.37-17.99,7.66-37.29,11.49-57.93,11.49Z"
  );
  animation: emerge 1.5s cubic-bezier(0.17, 0.1, 0.32, 1) 0s;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-photo > svg {
  position: absolute;
}

.profile-photo > svg:first-child {
  transform: scale(0.6);
  fill: var(--primary-300);
  top: 220px;
  left: -10px;
  animation: wave-forward 1.5s cubic-bezier(0.17, 0.1, 0.32, 1) 0s alternate
    infinite;
}

@keyframes wave-forward {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.6) translateX(60%) translateY(-40%);
  }
}

.profile-photo > svg:last-child {
  transform: scale(0.5);
  fill: var(--blue);
  right: -11vw;
  bottom: -4vh;
  animation: circle-shine 2.5s cubic-bezier(0.17, 0.1, 0.32, 1) 0s alternate
    infinite;
}

@keyframes circle-shine {
  0% {
    transform: scale(0.4);
    opacity: 0.4;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

.intro {
  position: relative;
}

.slogan-group {
  padding: 24px;
  position: absolute;
  top: -732px;
  background-image: url(../imgs/slogan-bg.jpg);
  left: -20vw;
  padding-left: 88px;
  opacity: 0;
  animation: emerge 1.5s cubic-bezier(0.17, 0.1, 0.32, 1) 10s forwards;
}

.impress {
  font-size: 2.5rem;
  font-family: "New Tegomin", serif;
}

.skill-list {
  flex-direction: column;
}

.skill-level-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.skill-level-name {
  width: 7.25rem;
}

.skill-level-num {
  width: 3.25rem;
  text-align: right;
}

.level-bar-bg {
  align-items: center;
  background-color: seashell;
  width: 300px;
  height: 8px;
  border-radius: 18px;
  box-shadow: 2px 2px 10px #777 inset;
}

.level-bar-fg {
  height: 100%;
  border-radius: 18px;
  text-align: center;
  /* line-height: calc(2rem-6px); */
  line-height: 2rem;
}

.level-html {
  width: 80%;
  background-color: #dd4b25;
  animation: html-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes html-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.skill-level-item:nth-child(1) .skill-level-num {
  animation: html-bold 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes html-bold {
  0% {
  }

  100% {
    font-weight: 700;
    color: #dd4b25;
  }
}

.level-css {
  width: 70%;
  background-color: #2862e9;
  animation: css-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes css-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

.skill-level-item:nth-child(2) .skill-level-num {
  animation: css-bold 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes css-bold {
  0% {
  }

  100% {
    font-weight: 700;
    color: #2862e9;
  }
}

.level-figma {
  width: 90%;
  background-color: #8950ff;
  animation: figma-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes figma-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.skill-level-item:nth-child(3) .skill-level-num {
  animation: figma-bold 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes figma-bold {
  0% {
  }

  100% {
    font-weight: 700;
    color: #8950ff;
  }
}

.level-ai {
  width: 90%;
  background-color: #ff9a00;
  animation: ai-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes ai-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

.skill-level-item:nth-child(4) .skill-level-num {
  animation: ai-bold 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes ai-bold {
  0% {
  }

  100% {
    font-weight: 700;
    color: #ff9a00;
  }
}

.level-ps {
  width: 80%;
  background-color: #2d9dee;
  animation: ps-expand 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
}

@keyframes ps-expand {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.skill-level-item:nth-child(5) .skill-level-num {
  animation: ps-bold 1.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  animation-fill-mode: forwards;
}

@keyframes ps-bold {
  0% {
  }

  100% {
    font-weight: 700;
    color: #2d9dee;
  }
}

/* End About */
/* Exp */

.exp-item > ul > li {
  list-style-type: disc;
  margin-left: 1.25rem;
}
.tag {
  font-weight: 700;
}
/* End exp */
/* Skills */
#Skills {
  background: goldenrod;
}

.skill-list {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 0.25rem;
}

.skill {
  width: 32.8%;
  height: 10rem;
  background-color: whitesmoke;
}

/* End skill */
/* Portfolio */
#Portfolio {
  background: var(--black-700);
  height: 105vh;
}

#Portfolio h2 {
  color: var(--white-300);
}

.work-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 4px;
}

.work-item {
  width: 100%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.17, 0.1, 0.32, 1);
  position: relative;
  background: silver;
}
.item-container {
  width: 100%;
  height: 100%;
}
.item-container:hover .work-item {
  transform: rotateX(180deg);
}

.work-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.work-item-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-1px) rotateX(180deg);
  background: var(--primary-300);
  padding: 12px;
  backface-visibility: hidden;
}
.divider {
  width: 100%;
  height: 1px;
  background: var(--black-700);
  margin: 12px auto;
}
/* End portfolio */
/* Form */
#Form {
  background-image: linear-gradient(
    to right bottom,
    #ffcc00,
    #d3cf00,
    #a5cf23,
    #75cc3f,
    #34c759
  );
}

form {
  background-color: whitesmoke;
  padding: 24px;
  border-radius: 36px;
}

.form-info {
  margin-bottom: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contact-form > div {
  width: 100%;
}

.contact-form label {
  display: block;
  margin-bottom: 4px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 0.75rem;
}

form button {
  color: var(--white-300);
  background: var(--blue);
  padding: 0.75rem;
  font-weight: 600;
  border-radius: 12px;
}

/* End form */
footer {
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
}

/* 平板 */
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1140px;
  }

  /* Header */
  .menu-icon {
    display: hidden;
  }

  header {
    flex-wrap: nowrap;
  }

  /* End header */
  /* Banner */
  .arrow {
    bottom: 200px;
    right: 64px;
  }
  /* End banner */
  /* About */
  #About .container {
    flex-direction: row;
  }

  .intro {
    width: 45%;
  }

  .profile-photo {
    padding-top: 0;
    order: 2;
    min-width: 300px;
  }

  .profile-photo > svg:first-child {
    top: 20px;
  }

  .skill-list {
    flex-direction: row;
  }

  .slogan-group {
    padding: 32px;
    position: absolute;
    top: -222px;
    background-image: url(../imgs/slogan-bg.jpg);
    left: -108px;
    padding-left: 108px;
    width: 40rem;
  }

  .profile-photo > svg:last-child {
    right: -4vh;
  }
  /* End about */
  /* Portfolio */

  #Portfolio .container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  #Portfolio h2 {
    margin-top: 48px;
    text-align: center;
  }

  .work-list {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  .item-container:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
  }

  .item-container:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .item-container:nth-child(6) {
    grid-area: 3 / 2 / 4 / 4;
  }
  /* End portfolio */
  /* Form */
  #Form .container {
    flex-direction: row;
  }

  .form-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    width: 50%;
  }
  /* End form */
}

/* 電腦 */
@media screen and (min-width: 1140px) {
  section {
    min-height: 100vh;
  }
  /* Header */
  header .container {
    flex-wrap: nowrap;
  }

  .logo {
    width: auto;
  }

  .menu-icon {
    display: none;
  }

  nav > ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav > ul > li {
    width: auto;
  }
  nav > ul > li > a {
    width: 6rem;
  }
  /* End header */
  /* About */
  #About .container {
    justify-content: space-between;
  }

  .profile-photo {
    width: auto;
  }

  .profile-photo > svg:last-child {
    right: -12%;
  }
  /* End about */
  /* Portfolio */
  #Portfolio {
    height: 1035px;
  }
  #Portfolio .container {
    max-width: 1920px;
    height: 1200px;
    justify-content: flex-start;
  }
  .work-list {
    height: 800px;
  }

  .work-item {
    height: 300px;
  }
  /* End portfolio */
  #Form {
    display: flex;
  }
}
